*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
body, html{
    min-height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 3%;
}
header .logo{
    font-size: 28px;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: black;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav a{
    margin: 0 8px;
}
header .lupa{
    cursor: pointer;
    background-image: url(../img/search.svg);
    width: 27px;
    height: 27px;
    margin: 0 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.inicio{
    padding: 3px 0 0 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio-esquerdo{
    width: 50%;    
}
.inicio-esquerdo .inicio-titulo{
    font-size: 40px;
    font-weight: bold;
}
.inicio .inicio-imagem{
    border-top: 55px solid black;
    border-bottom: 55px solid black;
    border-left: 90px solid black;
    padding: 300px 0;
    width: 50%;
}